<app-empty-header></app-empty-header>
<div class="content">
  <div class="content-sign-up-form">
    <form [formGroup]="signModel">
      <div class="content-sign-up-form-input">
        <label>Nickname</label>
        <input type="text" required placeholder="some-nickname" formControlName="nickname"/>
      </div>

      <div class="content-sign-up-form-input">
        <label>Email</label>
        <input type="email" required placeholder="email" formControlName="email"/>
      </div>

      <div class="content-sign-up-form-input">
        <label>{{ "sign-up.password" | transloco }}</label>
        <input type="password" required formControlName="password"/>
      </div>

      <div class="content-sign-up-form-input-cleared">
        <input type="checkbox" required id="remember-me" value="ree" />
        <label id="remember-me">{{ "sign-up.remember-me" | transloco }}</label>
      </div>

      <lingomq-button (click)="signUp()">{{ "sign-up.sign" | transloco }}</lingomq-button>
    </form>
  </div>
  <div class="content-sign-up-form-mobile">
    <h1>{{ "sign-up.title" | transloco }}</h1>
    <form [formGroup]="signModel">
      <div class="content-sign-up-form-input">
        <label>Nickname</label>
        <input type="text" required placeholder="some-nickname" formControlName="nickname"/>
      </div>

      <div class="content-sign-up-form-input">
        <label>Email</label>
        <input type="email" required placeholder="email" formControlName="email"/>
      </div>

      <div class="content-sign-up-form-input">
        <label>{{ "sign-up.password" | transloco }}</label>
        <input type="password" required formControlName="password"/>
      </div>

      <div class="content-sign-up-form-input-cleared">
        <input type="checkbox" required id="remember-me" value="ree" />
        <label id="remember-me">{{ "sign-up.remember-me" | transloco }}</label>
      </div>

      <lingomq-button (click)="signUp()">{{ "sign-up.sign" | transloco }}</lingomq-button>
    </form>
    <p>{{ "sign-up.services" | transloco }}</p>
    <div class="content-description-services">
      <div class="content-description-services-btn">
        <img src="../../../assets/icons/google.svg" alt="google" />
      </div>
      <div class="content-description-services-btn">
        <img src="../../../assets/icons/yandex.svg" alt="yandex" />
      </div>
      <div class="content-description-services-btn">
        <img src="../../../assets/icons/vk.svg" alt="vk" />
      </div>
    </div>
    <p>{{ "sign-up.sign-up-text" | transloco }}</p>
    <lingomq-button onclick="window.location.href = '/sign-in';">{{
      "sign-up.sign-up-btn" | transloco
    }}</lingomq-button>
  </div>
  <div class="content-description">
    <h1>{{ "sign-up.title" | transloco }}</h1>
    <p>{{ "sign-up.services" | transloco }}</p>
    <div class="content-description-services">
      <div class="content-description-services-btn">
        <img src="../../../assets/icons/google.svg" alt="google" />
      </div>
      <div class="content-description-services-btn">
        <img src="../../../assets/icons/yandex.svg" alt="yandex" />
      </div>
      <div class="content-description-services-btn">
        <img src="../../../assets/icons/vk.svg" alt="vk" />
      </div>
    </div>
    <p>{{ "sign-up.sign-up-text" | transloco }}</p>
    <lingomq-button onclick="window.location.href = '/sign-in';">{{
      "sign-up.sign-up-btn" | transloco
    }}</lingomq-button>
  </div>
</div>
<app-general-footer></app-general-footer>
