<app-general-header></app-general-header>
<div class="content">
  <div class="content-welcome">
    <div class="content-welcome-title">
      <h1>
        Начинай изучать слова <br />
        вместе с <br /><i>lingoMq</i>
      </h1>
    </div>
    <div class="content-welcome-image">
      <div class="content-welcome-image-boat">
        <img src="../../../assets/img/boat.svg" alt="boat"/>
      </div>
      <div class="content-welcome-image-sea">
        <div class="content-welcome-image-sea__object"></div>
        <div class="content-welcome-image-sea__object"></div>
        <div class="content-welcome-image-sea__object"></div>
        <div class="content-welcome-image-sea__object"></div>
      </div>
    </div>
  </div>
</div>
<app-general-footer></app-general-footer>
