<div class="auth-footer">
  <div class="auth-footer-nav">
    <div class="auth-footer-nav-button">
      <div class="auth-footer-nav-icon">
        <img src="../../../../assets/icons/practice.svg" alt="practice-svg" />
      </div>
      {{ "auth-footer.practice" | transloco }}
    </div>
    <div
      class="auth-footer-nav-button"
      routerLink="/app/dictionary"
    >
      <div class="auth-footer-nav-icon">
        <img src="../../../../assets/icons/dict.svg" alt="dict-svg" />
      </div>
      {{ "auth-footer.dict" | transloco }}
    </div>
    <div
      class="auth-footer-nav-button"
      routerLink="/app/library"
    >
      <div class="auth-footer-nav-icon">
        <img src="../../../../assets/icons/library.svg" alt="library-svg" />
      </div>
      {{ "auth-footer.library" | transloco }}
    </div>
    <div
      class="auth-footer-nav-button"
      routerLink="/app/account"
    >
      <div class="auth-footer-nav-profile-icon">
        <img [src]="imageToShow" alt="profile-img" />
      </div>
      <p *ngIf="user$ | async as user">{{ user.nickname }}</p>
    </div>
  </div>
</div>
