@import "styles";

.content {
  margin-top: 100px;
  margin-bottom: 100px;
  .content-title {
    h1 {
      font-size: 56px;
      font-weight: 900;
      margin: 0;
      @media screen and (max-width: 1160px) {
        text-align: center;
        font-size: 48px;
      }
      @media screen and (max-width: 750px) {
        text-align: center;
        font-size: 26px;
      }
    }

    p {
      font-size: 28px;
      font-weight: 700;
      margin: 0;
      @media screen and (max-width: 1160px) {
        text-align: center;
        font-size: 20px;
      }
      @media screen and (max-width: 750px) {
        text-align: center;
        font-size: 16px;
      }
    }
  }

  .content-library-main-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 100px;
    .content-library-main {
      margin-top: 50px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: 50px;

      .content-library-main-category {
        background: var(--background-secondary );
        width: 320px;
        border-radius: 15px;
        padding: 15px 15px;
        text-align: center;
        cursor: pointer;
        p {
          font-size: 28px;
          font-weight: 600;
          line-height: 15px;
        }
      }
    }

    @media screen and (max-width: 800px) {
      margin: 0 25px;
      align-items: center;
      justify-content: center;
    }
  }
}
