<app-empty-header></app-empty-header>
<div class="content">
  <div class="content-title">
    <h1>{{ "library.title" | transloco }}</h1>
    <p>{{ "library.sub-title" | transloco }}</p>
  </div>
  <div class="content-library-main-block">
    <div class="content-library-main">
      <div
        class="content-library-main-category"
        onclick="window.location.href = '/lib?wordtype=general';"
      >
        <p>{{ "library.general" | transloco }}</p>
      </div>
      <div
        class="content-library-main-category"
        onclick="window.location.href = '/lib?wordtype=food';"
      >
        <p>{{ "library.food" | transloco }}</p>
      </div>
      <div
        class="content-library-main-category"
        onclick="window.location.href = '/lib?wordtype=actions';"
      >
        <p>{{ "library.actions" | transloco }}</p>
      </div>
      <div
        class="content-library-main-category"
        onclick="window.location.href = '/lib?wordtype=family';"
      >
        <p>{{ "library.family" | transloco }}</p>
      </div>
      <div
        class="content-library-main-category"
        onclick="window.location.href = '/lib?wordtype=work';"
      >
        <p>{{ "library.work" | transloco }}</p>
      </div>
      <div
        class="content-library-main-category"
        onclick="window.location.href = '/lib?wordtype=relax';"
      >
        <p>{{ "library.relax" | transloco }}</p>
      </div>
    </div>
  </div>
</div>
<app-auth-footer></app-auth-footer>
