@import "styles";

.content-library-main-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 100px;
  .content-library-main {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;

    .content-library-main-category {
      background: var(--background-secondary);
      width: 320px;
      border-radius: 15px;
      padding: 15px 15px;
      text-align: center;
      cursor: pointer;
      p {
        font-size: 28px;
        font-weight: 600;
        line-height: 15px;
      }
    }
  }

  @media screen and (max-width: 500px) {
    margin: 0 25px;
  }
}
