@import '../../../styles.scss';

button {
  padding: 1em 3.5em;
  border: none;
  font-weight: 600;
  font-family: $mainFont;
  border-radius: 25px;
  transition: 0.2s ease-in;
  margin: 5px;
  cursor: pointer;
}

.primary {
  background-color: var(--foreground-secondary);
  color: #FFFFFF;
}

.primary:hover {
  background-color: #F1F1F1;
  color: var(--foreground-secondary);
}

.warning {
  background-color: var(--warning-color);
  color: #c7c7c7;
}

.warning:hover {
  background-color: #c7c7c7;
  color: var(--warning-color);
}

.alt {
  background-color: #F1F1F1;
  color: var(--foreground-secondary);
}

.alt:hover {
  background-color: var(--foreground-secondary);
  color: #FFFFFF;
}

.error {
  background-color: var(--error-color);
  color: #FFFFFF;
}

.error:hover {
  background-color: #ffffff;
  color: var(--error-color);
}
