<div class="auth-footer">
  <div class="auth-footer-nav">
    <div class="auth-footer-nav-button">
      <div class="auth-footer-nav-icon">
        <img src="../../../../assets/icons/practice.svg" alt="practice-svg" />
      </div>
      {{ "auth-footer.practice" | transloco }}
    </div>
    <div class="auth-footer-nav-button">
      <div class="auth-footer-nav-icon">
        <img src="../../../../assets/icons/dict.svg" alt="dict-svg" />
      </div>
      {{ "auth-footer.dict" | transloco }}
    </div>
    <div class="auth-footer-nav-button">
      <div class="auth-footer-nav-icon">
        <img src="../../../../assets/icons/library.svg" alt="library-svg" />
      </div>
      {{ "auth-footer.library" | transloco }}
    </div>
    <div class="auth-footer-nav-button">
      <div class="auth-footer-nav-profile-icon">
        <img src="{{profileImageSource}}" alt="profile-img"/>
      </div>
      {{profileName}}
    </div>
  </div>
</div>
