<app-empty-header></app-empty-header>
<div class="content">
  <div class="content-title">
    <h1>{{ "dictionary.title" | transloco }}</h1>
    <p>{{ "dictionary.sub-title" | transloco }}</p>
  </div>
  <div class="content-dictionary-block">
    <form
      class="content-dictionary-filter"
      (change)="filterize()"
      [formGroup]="filter"
    >
      <div class="content-dictionary-filter-item">
        <label>{{ "lib.native" | transloco }}</label>
        <select formControlName="language">
          <option value="english">
            {{ "lib-langs.english" | transloco }}
          </option>
          <option value="russian">
            {{ "lib-langs.russian" | transloco }}
          </option>
          <option value="german">
            {{ "lib-langs.german" | transloco }}
          </option>
          <option value="french">
            {{ "lib-langs.french" | transloco }}
          </option>
        </select>
      </div>
      <div class="content-dictionary-filter-item">
        <label>{{ "lib.source" | transloco }}</label>
        <select formControlName="category">
          <option value="general">
            {{ "library.general" | transloco }}
          </option>
          <option value="food">
            {{ "library.food" | transloco }}
          </option>
          <option value="actions">
            {{ "library.actions" | transloco }}
          </option>
          <option value="family">
            {{ "library.family" | transloco }}
          </option>
          <option value="work">
            {{ "library.work" | transloco }}
          </option>
          <option value="relax">
            {{ "library.relax" | transloco }}
          </option>
        </select>
      </div>
      <div class="content-dictionary-filter-item">
        <label>{{ "lib.search" | transloco }}</label>
        <input
          type="text"
          placeholder="search"
          formControlName="searchedWord"
        />
      </div>
    </form>
    <form
      [formGroup]="filter"
      class="content-dictionary-filter-mobile"
      (change)="filterize()"
    >
      <lingomq-button (click)="showMobileFilter()">{{
        "lib.filter" | transloco
      }}</lingomq-button>
      <div class="content-dictionary-filter-mobile-item">
        <div class="content-dictionary-filter-item">
          <label>{{ "lib.native" | transloco }}</label>
          <select formControlName="language">
            <option value="english">
              {{ "lib-langs.english" | transloco }}
            </option>
            <option value="russian">
              {{ "lib-langs.russian" | transloco }}
            </option>
            <option value="german">
              {{ "lib-langs.german" | transloco }}
            </option>
            <option value="french">
              {{ "lib-langs.french" | transloco }}
            </option>
          </select>
        </div>
        <div class="content-dictionary-filter-item">
          <label>{{ "lib.source" | transloco }}</label>
          <select formControlName="category">
            <option value="general">
              {{ "library.general" | transloco }}
            </option>
            <option value="food">
              {{ "library.food" | transloco }}
            </option>
            <option value="actions">
              {{ "library.actions" | transloco }}
            </option>
            <option value="family">
              {{ "library.family" | transloco }}
            </option>
            <option value="work">
              {{ "library.work" | transloco }}
            </option>
            <option value="relax">
              {{ "library.relax" | transloco }}
            </option>
          </select>
        </div>
        <div class="content-dictionary-filter-item">
          <label>{{ "lib.search" | transloco }}</label>
          <input
            type="text"
            placeholder="search"
            formControlName="searchedWord"
          />
        </div>
      </div>
    </form>
    <div class="content-dictionary-words-block">
      <div
        *ngFor="let wordInfo of wordInfos"
        class="content-dictionary-words-alphabetic-component"
      >
        <div class="content-dictionary-words-alphabetic-component-header">
          <h1>{{ wordInfo.letter | uppercase }}</h1>
          <hr />
        </div>
        <div class="content-dictionary-words-alphabetic-component-block">
          <div
            *ngFor="let word of wordInfo.wordInfos"
            class="content-dictionary-word"
          >
            <p>{{ word.word }}</p>
            <i>{{ word.transcription }}</i>
            <i>{{
              parseTranslationFromWordByLanguage(word, "russian")?.word
            }}</i>
          </div>
        </div>
      </div>
    </div>
    <div class="content-dictionary-pagination-block">
      <div class="content-dictionary-pagination">
        <lingomq-button (click)="prev()"><</lingomq-button>
        <lingomq-button (click)="next()">></lingomq-button>
      </div>
    </div>
  </div>
</div>
<app-auth-footer> </app-auth-footer>
