@import '../../../../core/styles/root.module.scss';
@import '../../../../core/styles/fonts.module.scss';

.roundedButton {
    border-radius: 25px;
    border-style: none;
    padding: 0.5em 3em;
    font-family: $mainFont;
    font-size: 20px;
    transition: 0.2s ease-in;
    margin: 5px;
    cursor: pointer;
}

.primary {
    background-color: var(--foreground-secondary);
    color: #FFFFFF;
}

.primary:hover {
    background-color: #F1F1F1;
    color: var(--foreground-secondary);
}

.warning {
    background-color: var(--warning-color);
    color: #c7c7c7;
}

.warning:hover {
    background-color: #c7c7c7;
    color: var(--warning-color);
}

.alt {
    background-color: #F1F1F1;
    color: var(--foreground-secondary);
}

.alt:hover {
    background-color: var(--foreground-secondary);
    color: #FFFFFF;
}

.error {
    background-color: var(--error-color);
    color: #FFFFFF;
}

.error:hover {
    background-color: #ffffff;
    color: var(--error-color);
}