<div class="header">
  <div class="header-content">
    <a href="/">
      <img class="logo" src="../../../../assets/logo.png" alt="logo"
    /></a>
    <div class="header-navigation">
      <a href="/">{{ 'header.start' | transloco }}</a>
      <a href="/">{{ 'header.about' | transloco }}</a>
      <a href="/">{{ 'header.faq' | transloco }}</a>
      <lingomq-button>{{ 'header.sign-in' | transloco }}</lingomq-button>
      <img
        class="language-selector selector-buttons"
        src="../../../../assets/language.svg"
        alt="language-selector"
      />
      <img
        class="paint-selector selector-buttons"
        src="../../../../assets/paint-palette.svg"
        alt="paint-selector"
      />
    </div>
  </div>
</div>
