<div class="home">
  <div class="welcome">
    <h1>
      {{ "welcome.title" | transloco }} <br />
      <b>{{ "welcome.subtitle" | transloco }}</b>
    </h1>
    <div class="welcome__picture">
      <img class="welcome__boat" src="../../../assets/boat.svg" alt="boat" />

      <img class="welcome__sea" src="../../../assets/Group 4.svg" alt="sea" />
      <div class="welcome__button-more">
        <lingomq-button class="welcome__more"
          >{{ "welcome.more" | transloco }} <br /> <mat-icon>keyboard_arrow_down</mat-icon></lingomq-button
        >
      </div>
    </div>
  </div>
</div>
