<div class="home">
  <div class="welcome">
    <h1>
      {{ "welcome.title" | transloco }} <br />
      <b>{{ "welcome.subtitle" | transloco }}</b>
    </h1>
    <div class="picture">
      <img class="boat" src="../../../assets/boat.svg" alt="boat" />
      <div class="sea">
        <img class="sea-img" src="../../../assets/Group 4.svg" alt="sea" />
        <div class="button-more">
          <lingomq-button type="alternative" class="more">{{
            "welcome.more" | transloco
          }}</lingomq-button>
        </div>
      </div>
    </div>
  </div>
</div>
