@import '../../../styles.scss';

.home {
  font-family: $mainFont;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome {
  display: flex;
  width: 80vh;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    font-weight: 900;
    font-size: 3.5em;
    line-height: 1.5em;

    b {
      color: var(--foreground-secondary);
      font-weight: 900;
    }
  }
}

.welcome__picture {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .welcome__boat {
    animation-name: boat-swim;
    animation-duration: 3s;
    z-index: -2;
    animation-iteration-count: infinite;
  }

  .welcome__sea {
    width: 100%;
  }

  .welcome__button-more {
    margin-top: -20%;
  }
}


@keyframes boat-swim {
  0% {
    transform: rotate(-15deg);
  }
  25% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}
