@import '../../../core/styles/root.module.scss';
@import '../../../core/styles/fonts.module.scss';

.headerWrap {
    border-bottom: 1px solid #B3B3B3;
}

.header {
    display: flex;
    font-family: $mainFont;
    align-items: center;
    justify-content: space-between;
    margin: 0 100px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigationLink {
    font-size: var(--default-font-size);
}

.nav * {
    margin: 0 10px;
}

.logo {
    width: 80px;
    height: 80px;
}

.themePaliterButton {
    width: 25px;
    height: 25px;
    margin: 0;
}


.themePaliterButton img {
    width: 25px;
    height: 25px;
    margin: 0;
}

.themePaliterButton :hover {
    cursor: pointer;
}