<app-auth-wrapper
  title="{{ 'account.title' | transloco }}"
  subTitle="{{ 'account.personal-title' | transloco }}"
>
  <div class="content-account-personal-data-block" content-body>
    <div class="content-account-personal-data-block__min">
      <img [src]="imageToShow" alt="profile-image" />
      <p *ngIf="user$ | async as user">{{ user.nickname }}</p>

      <input type="file" id="profile-image" (change)="onFileSelected($event)" />
      <lingomq-button type="alternative" class="update-image-btn"
        >{{ "account.update-photo" | transloco }}
      </lingomq-button>
    </div>
    <div class="content-account-personal-data-block__edit">
      <div class="content-account-personal-data-block__edit-form">
        <form>
          <label for="nickname">{{
            "account.nickname-input" | transloco
          }}</label>
          <input
            *ngIf="user$ | async as user"
            type="text"
            id="nickname"
            value="{{ user.nickname }}"
          />
          <lingomq-button
            (buttonClick)="updateUserNickname($event)"
            buttonType="button"
            >{{ "general.update" | transloco }}</lingomq-button
          >
        </form>
      </div>
      <div class="content-account-personal-data-block__edit-form">
        <form>
          <label for="description">{{
            "account.description-input" | transloco
          }}</label>
          <textarea
            *ngIf="user$ | async as user"
            id="description"
            value="{{ user.description }}"
            rows="3"
            wrap="hard"
            placeholder="Я в своем познании настолько преисполнился, что я как будто бы уже сто триллионов миллиардов лет проживаю"
          ></textarea>
          <lingomq-button
            (buttonClick)="updateUserDescription($event)"
            buttonType="button"
            >{{ "general.update" | transloco }}</lingomq-button
          >
        </form>
      </div>
      <div class="content-account-personal-data-block__edit-form">
        <form>
          <label for="email">{{ "account.email-input" | transloco }}</label>
          <input
            id="email"
            value="{{ userEmail }}"
            rows="3"
            type="email"
            wrap="hard"
            placeholder="example@mail.ru"
          />
          <lingomq-button
            (buttonClick)="updateUserEmail($event)"
            buttonType="button"
            >{{ "general.update" | transloco }}</lingomq-button
          >
        </form>
      </div>
    </div>
  </div>
</app-auth-wrapper>
