<app-landing-wrapper>
  <div class="content-left-section">
    <div class="content-left-section-boat">
      <img src="../../../assets/img/boat.svg" alt="boat" />
    </div>
    <div class="content-left-section-sand"></div>
  </div>
  <div class="content-right-section">
    <h1>Упс... Приплыли не туда</h1>
    <div class="content-right-section-description">
      <p>
        Страница, на которую вы хотите попасть, не существует на самом деле.
        Советуем вернуться обратно :)
      </p>
      <lingomq-button>Назад</lingomq-button>
    </div>
  </div>
</app-landing-wrapper>
