:root {
  --background-primary-light: #ffffff;
  --background-primary-dark: #1e1e1e;

  --foreground-primary: #000000;
  --foreground-secondary: #00a3ff;
  --foreground-alternative: #b1b1b1;

  --error-color: #fc5959;
  --success-color: #95ff95;
  --warning-color: #fff148;

  --default-font-size: 20px;
}

body {
  margin: 0;
  box-sizing: border-box;
  background: var(--background-primary);
  transition: 0.15s ease-in;
}

html[data-theme="light"] {
  --background-primary: var(--background-primary-light);
}

html[data-theme="dark"] {
  --background-primary: var(--background-primary-dark);
}

.root {
  margin: 0;
  box-sizing: border-box;
}

a {
  color: var(--foreground-secondary);
  font-weight: 330;
  text-decoration: none;
  transition: 0.15s ease-in;
}

a:hover {
  color: var(--foreground-alternative);
}
