<div class="general-footer">
  <div class="general-footer-nav">
    <p class="general-footer-nav-main-title">
      {{ "general-footer.title" | transloco }}
    </p>

    <ul class="general-footer-nav-ul">
      <li class="general-footer-nav-li">
        <a class="general-footer-nav-li-a" href="#start">{{
          "header.start" | transloco
        }}</a>
      </li>
      <li class="general-footer-nav-li">
        <a class="general-footer-nav-li-a" href="#about">{{
          "header.about" | transloco
        }}</a>
      </li>
      <li class="general-footer-nav-li">
        <a class="general-footer-nav-li-a" href="/faq">F.A.Q</a>
      </li>
      <li class="general-footer-nav-li">
        <a class="general-footer-nav-li-a" href="#start">{{
          "header.privacy-policy" | transloco
        }}</a>
      </li>
      <li class="general-footer-nav-li">
        <a class="general-footer-nav-li-a" href="#start">{{
          "header.user-agree" | transloco
        }}</a>
      </li>
    </ul>
  </div>
  <div class="general-footer-left-section">
    <div class="general-footer-logo-section">
      <div class="general-footer-logo">
        <p class="general-footer-logo-main">lingo</p>
        <p class="general-footer-logo-sub">mq</p>
      </div>
      <p class="general-footer-copyright">
        © {{ currentYear }}. LingoMq. {{ "general.copyright-text" | transloco }}
      </p>
    </div>
  </div>
</div>
